* {
	background-color: #a4e1ee;
}

.split {
	overflow: hidden;
}

.web {
	float: left;
}

#picture {
	position: relative;
	margin-left: 615px;
    margin-top: -70px;
    display: none;
    animation-duration: 4s;
  	animation-name: rotate;
}

@keyframes rotate {
	20% {
		transform: translateY(-50px);
	}

	50% {
	   transform: translateY(-40px);
	}

	60% {
	   transform: translateY(-30px);
	}

	70% {
	   transform: translateY(-20px);
	}

	80% {
	   transform: translateY(-10px);
	}

	100% {
	   transform: translateY(0);
	}
}

.top {
	position: relative;
	background-image: linear-gradient(to top, lightgrey, white);
	height: 300px;
	width: 33%;
	left: 32%;
	top: 100px;
	border-radius: 25px;
	padding: 15px 25px;
}

.lens {
	position: absolute;
	background-image: linear-gradient(to bottom, #040303, #3b3333);
	border-radius: 100px;
	padding: 20px;
	left: 34%;
	box-shadow: 20px 55px 50px 23px rgba(0,0,0,0.42);
}

.lens-black {
	background-color: #261f1f;
	border-radius: 100px;
	padding: 5px;
	box-shadow: 0px 0px 2px 2px rgba(197,197,197,0.4);
}

.white-lines {
	background: repeating-radial-gradient(circle at 50%, #4f4e4e, #000 5px, #141414 3px, #040404 5px);
	border-radius: 100px;
	padding: 25px;
}

.black-lines {
	background: repeating-radial-gradient(circle at 50%, #413e3e, #000 10px, #090101 6px, #040404 6px);
	border-radius: 100px;
	padding: 20px;
}

.lens-small {
	background: linear-gradient(to bottom, #62136b, #4a650a);
	border-radius: 100px;
	padding: 25px;
}

.flash {
	box-shadow: 0px 0px 10px 5px rgba(197,197,197,0.4);
	padding: 8px;
	border-radius: 100px;
	background-color: rgba(197,197,197,0.3);
}

.square-container {
	position: absolute;
	background-color: #222222;
	border-radius: 16px;
	padding: 4px;
	height: 80px;
	width: 88px;
	right: 15px;
	box-shadow: 0px 0px 1px 2px rgba(197,197,197,0.8) inset;
}

.square-black {
	background: linear-gradient(#323232, #767474);
	border-radius: 14px;
	padding: 4px;
	height: 50px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border: 1px solid black;
	box-shadow: 0px 0px 1px 2px rgba(197,197,197,0.4);
}

.square-white {
	background: white;
	border-radius: 8px;
	padding: 4px;
	height: 25px;
	width: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	border: 1px solid #222222;
	box-shadow: 1px 3px 3px 1px rgba(197,197,197,0.4);
}

.grid-container {
	position: absolute;
	background-color: #e4e4e4;
	border-radius: 10px;
	padding: 4px;
	height: 155px;
	width: 85px;
	box-shadow: -4px 5px 5px 1px rgba(0,0,0,0.2);
}

.grid-background {
	background: linear-gradient(rgb(255 255 255 / 50%) 5%, rgb(0 1 0 / 74%) 50%, rgb(255 255 255 / 50%) 100%);
	padding: 72px 6px;
	border: 6px solid black;
	border-radius: 10px;
}

.grid-horizontal {
	background: linear-gradient(to bottom, #d7d7d7 1px, transparent 1px);
	padding: 72px 37px;
	background-size: 2px 4px;
	position: absolute;
	top: 8px;
	left: 9px;
	border-radius: 10px;
}

.grid-vertical {
	background: linear-gradient(to right, #d7d7d7 1px, transparent 1px);
	padding: 72px 20px;
	background-size: 3px 10px;
	position: absolute;
	top: 8px;
	left: 25px;
	border-radius: 10px;
}

.grid-box {
	background: white;
	padding: 9px 20px;
	position: absolute;
	top: 8px;
	left: 25px;
}

.bar {
	background: linear-gradient(to right, #e5722e, orange);
	position: absolute;
	height: 20px;
	width: 50px;
	border-radius: 12px;
	right: 40px;
	top: 115px;
	border: 1px solid #c37809;
}

.circle {
	background: #fbcd4d;
	box-shadow: 0px 0px 4px 1px rgba(166,70,14,0.8);
	padding: 10px;
	width: 1px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 45px;
}

.red-container {
	position: absolute;
	background-color: lightgrey;
	border-radius: 30px;
	padding: 5px;
	bottom: 40px;
	box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.2);
}

.red {
	background-image: linear-gradient(to bottom, #ad0a0a, #ff4545); 
	border-radius: 25px;
	padding: 25px;
	border: 2px solid #323232;
}

.circle-white {
	position: absolute;
	background-color: #f0f0f0;
	border-radius: 30px;
	padding: 13px;
	left: 140px;
	top: 30px;
	border: 1px solid lightgrey;
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.4);
}

.circle-black-out, .circle-black2-out {
	position: absolute;
	background-color: black;
	border-radius: 30px;
	padding: 8px;
}

.circle-black-in, .circle-black2-in{
	background-color: #222222;
	border-radius: 30px;
	padding: 5px;
	box-shadow: 0px 0px 5px 5px rgba(197,197,197,0.3);
}

.circle-black-out {
	left: 140px;
	top: 75px;
}

.circle-black2-out {
	right: 150px;
	bottom: 120px;
	box-shadow: -2px -3px 4px 1px rgba(0,0,0,0.3);
}

.bottom {
	position: relative;
	background-image: linear-gradient(to bottom, #1e1d1d, #545252);
	height: 175px;
	width: 39%;
	left: 30.5%;
	top: 75px;
	border-radius: 15px;
	box-shadow: 0px 0px 15px 15px rgba(197,197,197,0.3) inset;
}

.bottom-rectangle {
	background: linear-gradient(rgb(0 1 0 / 40%) 1%, rgb(120 120 120 / 75%) 40%, rgb(0 1 0 / 50%) 100%);
	position: absolute;
	height: 40px;
	width: 72%;
	border-radius: 4px;
	margin-top: 60px;
	margin-left: 80px;
	border-left: 10px solid #535151;
	border-right: 10px solid #535151;
	border-top: 3px solid #535151;
	border-bottom: 3px solid rgba(142,142,142);
}

.text {
	color: #d7d7d7;
	position: absolute;
	background: transparent;
	font-family: monospace;
	margin-top: 115px;
	margin-left: 250px;
}

.rainbow {
	position: absolute;
	background: linear-gradient(180deg, rgba(51,189,224,1) 0%, rgba(58,142,44,1) 30%, rgba(196,158,82,1) 46%, rgba(205,115,58,1) 71%, rgba(190,5,5,1) 91%);
	position: absolute;
	margin-top: 110px;
	margin-left: 100px;
}

.grid {
	background: linear-gradient(to bottom, transparent 4px, #464444 4px);
	padding: 20px 25px;
	background-size: 4px 8px;
}

.hr {
	position: relative;
	margin-left: 464px;
	margin-top: 50px;
	height: 40px;
	width: 592px;
	border: 0;
	background-color: transparent;
	box-shadow: 0 13px 9px -12px rgb(179 179 179 / 66%) inset
}

.bar2-container {
    background: linear-gradient(90deg, rgb(71 71 71 / 40%) 1%, rgb(157 152 152 / 75%) 40%, rgb(71 71 71 / 50%) 100%);
    box-shadow: 0 13px 9px 5px rgb(52 52 52 / 25%);
	position: absolute;
	height: 30px;
	width: 150px;
	left: 230px;
	border-bottom-right-radius: 12px;
  	border-bottom-left-radius: 12px;
  	border: 1px solid rgb(71 71 71);
}

.bar2 {
	background: #50504f;
    height: 15px;
    width: 100px;
    border-radius: 12px;
    margin-left: 25px;
    margin-top: 5px;
    border: 1px solid #000000;
}

.circle2 {
	background: #4c4c48;
    box-shadow: 0px 4px 2px 0px rgb(32 30 29 / 80%);
    padding: 8px;
    width: 2px;
    border: 1px solid #4e4e4e;
    margin-left: 85px;
    margin-top: -2px;
    border-radius: 45px;
}

.bar-white {
	background: #ededed;
	position: absolute;
	height: 25px;
	width: 220px;
	left: 0px;
	border-bottom-right-radius: 12px;
  	border-top-left-radius: 15px;
  	box-shadow: 0 8px 4px 3px rgb(256 256 256 / 10%);
 }

.bar2-white {
	background: #ededed;
	position: absolute;
	height: 25px;
	width: 200px;
	right: 0px;
	border-bottom-left-radius: 12px;
  	border-top-right-radius: 15px;
  	box-shadow: 0 8px 4px 3px rgb(256 256 256 / 10%);
}
