body {
  background-color: black;
}

#container {
  position: relative;
	background-color: #eba7b3;
	border-radius: 30px;
	height: 420px;
	width: 800px;
  margin-left: auto;
  margin-right: auto;
  top: 75px;
  box-shadow: inset 0px 0px 30px 11px #e396adf5;
  border: 1px solid #C8C8C8;
}

.white-set {
  position: relative; 
  background-color: black;
	border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
	height: 380px;
	width: 637px;
  top: 85px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  z-index: 1;
}

.white-set ul button {
  border: none;
  background-color: white;
  display: inline-block;
  text-decoration: none;
  padding: 250px 40px 10px 40px;
  height: 352px;
  margin-top: -17px;
  margin-right: -2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
}

.white-set ul button:hover {
  box-shadow: 1px 0px 5px 5px #E2E2E2;
}

.white-set ul {
  margin-left: -40px;
}

.black-set1 ul button {
  border: none;
  display: inline-block;
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 200px 20px 10px 20px;
  height: 250px;
  margin-left: 42px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
}

.black-set1 ul {
  margin-left: -15px;
  margin-top: -351px;
}

.black-set2 ul button {
  display: inline-block;
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 200px 20px 10px 20px;
  height: 250px;
  margin-left: 42px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
}

.black-set2 ul {
  margin-left: 265px;
  margin-top: -250px;
}

.black-set1 ul button:hover, .black-set2 ul button:hover{
   box-shadow: 1px 0px 2px 2px black;
}




